
/* styles for data-image */
#page {
  height:500px;
  width:1000px;
}
#content {
  height:90%;
  width:70%;
  margin-left: 15%;
  margin-right: 15%;
}
#left { 
  height: 90%;
  width: 49%; 
  border: 1px solid black;
  float: left
}

#right {
  width: 49%; 
  height: 90%;
  border: 1px solid black; 
  float: right
}

#img1 {
  max-width: 100%;
  max-height: 90%;
  width:100%;
  height:auto;
}
#img2 {
  max-width: 100%;
  max-height: 90%;
  width:100%;
  height:auto;
}

.clear { clear: both;}

table#btns {/*
    width:40%; */
    margin-left: 15%; 
    margin-right: 15%;

}

input#data{
	width:100px;
	height:100px;
}

body            { font-family: sans-serif; background: #eee; }
a, h1, h2       { color: #377BA8; }
h1, h2          { font-family: 'Georgia', serif; margin: 0; }
h1              { border-bottom: 2px solid #eee; }
h2              { font-size: 1.2em; }

.metanav        { text-align: left; font-size: 0.8em; padding: 0.3em;
                  margin-bottom: 1em; background: #fafafa; }
.flash          { background: #CEE5F5; padding: 0.5em;
                  border: 1px solid #AACBE2; }
.error          { background: #F0D6D6; padding: 0.5em; }