{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('add_participant') }}" method=post class=add-participant>
  <dl>
    <table>
      <tr>
        <td>Age:</td>
        <td><input required type=text size=30 name=age></td>
      </tr>
      <tr>
        <td>Gender:</td>
        <td><input required type=text size=30 name=gender></td>
      </tr>
      <tr>
        <td>Language 1:</td>
        <td><input required type=text size=30 name=language1></td>
      </tr>
      <tr>
        <td>Years Speaking Language 1</td>
        <td><input required type=text size=30 name=yrLanguage1></td>
      </tr>
      <tr>
      <tr>
        <td>Language 2:</td>
        <td><input type=text size=30 name=language2></td>
      </tr>
      <tr>
        <td>Years Speaking Language 2</td>
        <td><input type=text size=30 name=yrLanguage2></td>
      </tr>
      <tr>
      <tr>
        <td>Language 3:</td>
        <td><input type=text size=30 name=language3></td>
      </tr>
      <tr>
        <td>Years Speaking Language 3</td>
        <td><input type=text size=30 name=yrLanguage3></td>
      </tr>
      <tr>
      <tr>
        <td>Language 4:</td>
        <td><input type=text size=30 name=language4></td>
      </tr>
      <tr>
        <td>Years Speaking Language 4</td>
        <td><input type=text size=30 name=yrLanguage4></td>
      </tr>
      <tr>
        <td>Years Living in an English Speaking Country:</td>
        <td><input required type=text size=30 name=yearsEngCountry></td>
      </tr>
    </table>
    <dd><input type=submit value=Continue>
  </dl>
</form>
{% endblock %}