{% extends "layout.html" %}
{% block body %}
  <div align=center>
  <h2>Welcome!</h2><br><br>
  	<li>Thank you for participating in our study. <br><br>
	<li>During this task you will see pairs of pictures on the screen<br><br>
	<li>Please rate the pictures on how intuitively similar you think the two things are<br><br>
	<li>You will see a scale where 1=not similar and 9=very similar.<br><br>
	<li>For each pair of pictures please use this scale to indicate how similar these objects are.<br><br>
	<li>Please use the whole scale (give some 1’s and some 9’s and some of all the numbers in between).<br><br>
	<li>At the end of the task you will be asked to fill out a short survey. Please click “Begin” to start the study.<br><br>
	<br><br><a href="{{ url_for('collect_ans') }}">Begin</a>
</div>
{% endblock %}