{% extends "layout.html" %}
{% block body %}
  {% if session.admin_logged_in %}
    <table border="1">
      <tr>
        <td><b>User ID</td>
        <td><b>Age</td>
        <td><b>Gender</td>
        <td><b>Language 1</td>
        <td><b>Years Speaking Lang 1</td>
        <td><b>Language 2</td>
        <td><b>Years Speaking Lang 2</td>
        <td><b>Language 3</td>
        <td><b>Years Speaking Lang 3</td>
        <td><b>Language 4</td>
        <td><b>Years Speaking Lang 4</td>
        <td><b>Years Living in English Speaking Country</td>
        {% for i in range(1,numPics+1) %}
          <td><b>Set {{i}}</td>
        {% endfor %}
      </tr>
    {% for participant in participants %}
      <tr>
        <td>{{ participant.pID|safe }}</td>
        <td>{{ participant.age|safe }}</td>
        <td>{{ participant.gender|safe }}</td>
        <td>{{ participant.language1|safe }}</td>
        <td>{{ participant.yrLanguage1|safe }}</td>
        <td>{{ participant.language2|safe }}</td>
        <td>{{ participant.yrLanguage2|safe }}</td>
        <td>{{ participant.language3|safe }}</td>
        <td>{{ participant.yrLanguage3|safe }}</td>
        <td>{{ participant.language4|safe }}</td>
        <td>{{ participant.yrLanguage4|safe }}</td>
        <td>{{ participant.yearsEngCountry|safe }}</td>
        {% for answer in participant.answers %}
          <td>{{ answer.ans |safe }}</td>
        {% endfor %}
      </tr>
    {% else %}
      <h2><em>Unbelievable.  No participants here so far</em></h2><br>
    {% endfor %}
    </table>
  {% else %}
    <h2><em>Login to see participants</em></h2>
  {% endif %}
{% endblock %}